{% extends "layout.html" %}

{% block content %}

<div id="selections" class="container">

  <select>
  {% for hotel in all_hotels %}
    <option>{{hotel.name}}</option>
  {% endfor %}
  </select>

  <select>
  {% for activity in all_activities %}
    <option>{{activity.name}}</option>
  {% endfor %}
  </select>

  <select>
  {% for restaurant in all_restaurants %}
    <option>{{restaurant.name}}</option>
  {% endfor %}
  </select>

</div>

{% endblock %}
