* {
  box-sizing: border-box; }

.container:after {
  content: "";
  display: block;
  clear: both; }

#selections {
  background-color: #55c931;
  color: #307737;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  float: left;
  text-align: left; }

body {
  padding: 0; }

div {
  background-color: #d13059; }

#footer {
  position: fixed;
  bottom: 0; }
