* {
  box-sizing: border-box;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}
#selections {
  background-color: rgb(85, 201, 49);
  color: rgb(48, 119, 55);
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  float: left;
  text-align: left;
}
body {
  padding: 0;
}

div {
  background-color:rgb(209, 48, 89);
}

#footer {
  position: fixed;
  bottom: 0;
}
